@media (min-width:1508px) {
    li {
        list-style-type: none;
    }

    /* colinear divs: */
    #block_container {
        text-align:center;
    }

    #bloc1, #bloc2, #bloc3, #bloc4, #bloc5, #bloc6, #bloc7, #bloc8, #bloc9, #bloc10, #bloc11, #bloc12, #bloc13, #bloc14, #bloc15, #bloc16 {
        display:inline;
        margin: 20px 20px;
        font-size: 20px;
    }

    div.short > a > img {
        height: 5rem;
    }

    div.long > a > img {
        height: 5rem;
    }
}


@media (min-width:1251px) and (max-width:1507px) {
    li {
        list-style-type: none;
    }

    /* colinear divs: */
    #block_container {
        text-align:center;
    }

    #bloc1, #bloc2, #bloc3, #bloc4, #bloc5, #bloc6, #bloc7, #bloc8, #bloc9, #bloc10, #bloc11, #bloc12, #bloc13, #bloc14, #bloc15, #bloc16 {
        display:block;
        margin: 20px 20px;
        font-size: 20px;
    }

    div.short > a > img {
        height: 5rem;
    }

    div.long > a > img {
        height: 5rem;
    }
}

@media (max-width: 1250px) {
    li {
        list-style-type: none;
    }

    /* colinear divs: */
    #block_container {
        text-align:center;
    }

    #bloc1, #bloc2, #bloc3, #bloc4, #bloc5, #bloc6, #bloc7, #bloc8, #bloc9, #bloc10, #bloc11, #bloc12, #bloc13, #bloc14, #bloc15, #bloc16 {
        display: block;
        margin: 10px 10px;
        font-size: 10px;
    }
    
    div.short > a > img {
        height: 3rem;
    }
    
    div.long > a > img {
        height: 3rem;
    }
}
  