
li {
    list-style-type: none;
}

/* colinear divs: */
#block_container {
    text-align:center;
}

#bloc1, #bloc2, #bloc3, #bloc4, #bloc5, #bloc6, #bloc7, #bloc8 {
    display:inline;
    margin: 20px 20px;
    font-size: 20px;
}
